.resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
}

h2 {
    margin-bottom: 0;
}

p {
    font-size: large;
}

.investAmt {
    font-size: 26px;
    color: #3d53cd;
    text-decoration: underline;
}

.investmentAmtArea {
    margin-left: 5%;
    margin-right: 5%;
}

.rangeValue {
    font-size: 64px;
    color: #3d53cd;
}
